.tour-package-item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 238, 239);
  background-color: rgb(255, 255, 255);
  transition: all 500ms ease;
  margin-bottom: 20px;
}

.tour-package-item .content {
  padding: 20px;
}
.tour-package-item .image {
  overflow: hidden;
}
.tour-package-item .image img {
  transition: transform 500ms ease, opacity 500ms ease,
    -webkit-transform 500ms ease;
  transform: scale(1);
}
.tour-package-item:hover .image img {
  transform: scale(1.05);
}
.tour-package-item:hover {
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 5%);
}
.tour-package-item .content h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #082740;
}

.tour-package-item .content p {
  font-family: "Barlow Condensed", sans-serif;
  color: #082740;
  font-size: 18px;
  margin-bottom: 30px;
}
.tour-package-item .content ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.tour-package-item .content li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 600;
  color: #9ca3a9;
  font-family: "Barlow Condensed", sans-serif;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.tour-package-item .content li svg {
  margin-right: 5px;
  color: #ff7f47;
}
.service-detail-loader {
  margin: auto;
  display: block;
  margin-top: 40px;
}
