.achivement-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.achievment-item {
  padding: 20px;
  background: #304f47;
  color: #fff;
  -webkit-box-shadow: 0 0 64px rgb(17 17 17 / 10%);
  box-shadow: 0 0 64px rgb(17 17 17 / 10%);
  border-radius: 5px;
}

.achievment-item h4 {
  font-family: "Barlow Condensed", sans-serif;
}

.achievment-item svg {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
}

.achievment-item path {
  stroke: #fff;
}

/**Responsive**/
@media only screen and (max-width: 991.98px) {
  .achievment-item {
    padding: 8px;
  }
  .achievment-item svg {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767.98px) {
  .achievment-item {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575.98px) {
  .achievment-item svg {
    font-size: 38px;
    margin-bottom: 15px;
  }
}
