@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap");

.p-80 {
  padding: 80px 0px;
}
.heading {
  margin-bottom: 40px;
}
.heading p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1em;
  font-family: "Barlow Condensed", sans-serif;
  color: #ff7f47;
  text-transform: uppercase;
}

.heading h2 {
  color: #082740;
  font-size: 48px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}
